* {
  box-sizing: border-box;
}

/*Optional: Makes the sample page fill the window.*/
body {
  margin: 0;
  padding: 0;
  border: 0;
}

.container-fluid {
  min-height: 100vh;
}

.rivi1 {
  background-color: #1d1f21;
}

.saa {
  min-height: 15vh;
}

.tapahtumat {
  text-align: center!important;
}
