* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  background-color: #232425;
  font-family: 'Titillium Web', ;
}

.container-fluid {
  min-height: 100vh;
}

.rivi1 {
  background-color: #232425;
}

.saa {
  min-height: 15vh;
}

.tapahtumat {
  text-align: center!important;
}
