* {
  box-sizing: border-box;
}

/*Optional: Makes the sample page fill the window.*/
body {
  margin: 0;
  padding: 0;
  border: 0;
}


/*.dösäri {
  height: 300px;
  overflow: hidden;
}*/

* {
  box-sizing: border-box;
}

/*Optional: Makes the sample page fill the window.*/
body {
  margin-top: 10px;
  background-color: #01166B;
}

.otsikot {
  background-color: #01166B;
  border-radius: 25px;
  margin: 10px;
  color: #DEE506;
  box-shadow: 2px 2px #ffffff;
  font-family: 'VT323', monospace;
}


.tiedot {
  margin: 10px;
  font-weight: bold;
  color: #DEE506;
}

.container-fluid {
  position: static;
}

.laatikko {
  border-radius: 25px;
  background-color: #01166B;
  margin: 10px;
  box-shadow: 2px 2px #ffffff;
}

h3 {
  color: #DEE506;
  font-family: 'VT323', monospace;
}

html {
  font-family: 'VT323', monospace;
}
