* {
  box-sizing: border-box;
}

/*Optional: Makes the sample page fill the window.*/
body {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Always set the map height explicitly to define the size of the div
  element that contains the map. */
#map {
  height: 100%;
  width: 100%;
}

.container-fluid {
  min-height: 100vh;
}

.rivi1 {
  background-color: #019dd5;
}

.saa {
  height: 15vh;
}

.kartta {
  height: 85vh;
  width: inherit;
  padding: 0 !important;
  margin: 0 !important;
}
