* {
  box-sizing: border-box;
}

/*Optional: Makes the sample page fill the window.*/
body {
  margin: 0;
  padding: 0;
  border: 0;
}

.otsikot {
  background-color: #019dd5;
}

/*.dösäri {
  height: 300px;
  overflow: hidden;
}*/

.tiedot {
  border-bottom: 1px solid #019dd5;
}
