* {
  box-sizing: border-box;
}

body {
  background-color: #232425;
  max-width: 100%;
  overflow-x: hidden;
}

.otsikot {
  background-color: #232425;
  border-radius: 15px;
  color: rgb(0, 174, 239);
  box-shadow: 2px 2px #ffffff;
  font-family: 'Titillium Web', ;
}

.tiedot {
  margin: 6px;
  color:rgb(0, 174, 239);
  font-family: 'Titillium Web', ;
  font-size: large;
}

.container-fluid {
  position: static;
}

.laatikko {
  border-radius: 25px;
  margin-top: 1vh;
  background-color: #232425;
  border: 2px solid white;
}

h3 {
  color: rgb(0, 174, 239);
  font-family: 'Titillium Web', ;
}

h2 {
  color: rgb(0, 174, 239);
  font-family: 'Titillium Web', ;
  font-size: 1,95em;
  margin-bottom: 40px;
  margin-top: 15vh;
}

h4 {
  font-size: 1,95em;
}

html {
  font-family: 'Titillium Web', ;
}

.lyhyt {
  font-size: 1,25em;
}
