* {
  box-sizing: border-box;
}

/*Optional: Makes the sample page fill the window.*/
body {
  margin: 0;
  padding: 0;
  border: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

.container-fluid {
  min-height: 100vh;
}

.rivi1 {
  background-color: #1d1f21;
}

.saa {
  min-height: 15vh;
}

iframe {
  border: none ;
}

#myFrame {
  border: none;
  overflow: hidden;
  padding-left: 23px;
  -ms-zoom: 4;
        -moz-transform: scale(4);
        -moz-transform-origin: 0 0;
        -o-transform: scale(4);
        -o-transform-origin: 0 0;
        -webkit-transform: scale(4);
        -webkit-transform-origin: 0 0;
}

.card {
  margin: 20px;
  border-width: 5px;
  border-color: black;
  border-radius: 25px;
  box-shadow: 4px 4px grey;
  text-align: center;
}







