* {
  box-sizing: border-box;
}

/*Optional: Makes the sample page fill the window.*/
body {
  margin: 0;
  padding: 0;
  border: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #232425;
  font-family: 'Titillium Web', ;
}

.container-fluid {
  min-height: 100vh;
}

.rivi1 {
  background-color: #232425;
}

.saa {
  min-height: 15vh;
}

iframe {
  border: none ;
  font-family: 'Titillium Web', ;
}

#myFrame {
  border: none;
  overflow: hidden;
  margin-left: 65px;
  -ms-zoom: 4;
  -moz-transform: scale(4);
  -moz-transform-origin: 0 0;
  -o-transform: scale(4);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(4);
  -webkit-transform-origin: 0 0;
  font-family: 'Titillium Web', ;
}

#kosteus {
  border: none;
  overflow: hidden;
  margin-left: 99px;
  -ms-zoom: 4;
  -moz-transform: scale(4);
  -moz-transform-origin: 0 0;
  -o-transform: scale(4);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(4);
  -webkit-transform-origin: 0 0;
  font-family: 'Titillium Web', ;
}

#lämpö {
  border: none;
  overflow: hidden;
  margin-left: 100px;
  -ms-zoom: 4;
  -moz-transform: scale(4);
  -moz-transform-origin: 0 0;
  -o-transform: scale(4);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(4);
  -webkit-transform-origin: 0 0;
  font-family: 'Titillium Web', ;
}

.card {
  margin: 20px;
  margin-top: 150px;
  border-radius: 25px;
  text-align: center;
  -webkit-box-shadow: 8px -7px 8px -1px rgb(0, 174, 239);
  -moz-box-shadow: 8px -7px 8px -1px rgb(0, 174, 239);
  box-shadow: 8px -7px 8px -1px rgb(0, 174, 239);
}









