* {
  box-sizing: border-box;
}

/*Optional: Makes the sample page fill the window.*/
body {
  margin: 0;
  padding: 0;
  border: 0;
}

.container-fluid {
  min-height: 100vh;
}

.rivi1 {
  background-color: #1d1f21;
}

.saa {
  min-height: 15vh;
}

iframe {
  border: none ;
}

.myFrame {
  border: none;
}

.card {
  margin: 20px;
  border-width: 5px;
  border-color: black;
  border-radius: 25px;
  box-shadow: 4px 4px grey;
  text-align: center;
}







